<div class="widget">
  <div class="left-panel panel">
    <div class="date">
      Wednesday, 15 May 2019
    </div>
    <div class="city">
      New Delhi
    </div>
    <div class="temperature">
      {{!-- <img src="assets/images/rain.png" alt="" width="60"> --}}
      31&deg;
    </div>
  </div>

  <div class="right-panel panel">
    <img src="assets/images/delhi.jpg" alt="" width="160">
  </div>
</div>