<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description" content="DevSite">

  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Weather Widget -->
  <link href="assets/css/weatherWidget.css" rel="stylesheet" type="text/css">

  <!-- Toastr css -->
  <link href="plugins/jquery-toastr/jquery.toast.min.css" rel="stylesheet" />

  <!-- Sweet Alert css -->
  <link href="plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />

  <!-- Spinkit css -->
  <link href="plugins/spinkit/spinkit.css" rel="stylesheet" />

  <!-- App css -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />

  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="assets/js/modernizr.min.js"></script>

  <title>
    <DevSite>
  </title>


</head>

<body>

  <main>
    <div id="wrapper">

      {{{body}}}
    </div>
  </main>


  <!-- jQuery  -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/metisMenu.min.js"></script>
  <script src="assets/js/waves.js"></script>
  <script src="assets/js/jquery.slimscroll.js"></script>

  <!-- Toastr js -->
  <script src="plugins/jquery-toastr/jquery.toast.min.js" type="text/javascript"></script>
  <script src="assets/pages/jquery.toastr.js" type="text/javascript"></script>

  <!-- Sweet Alert Js  -->
  <script src="plugins/sweet-alert/sweetalert2.min.js"></script>
  <script src="assets/pages/jquery.sweet-alert.init.js"></script>

  <!-- KNOB JS -->
  <!--[if IE]>
    <script
      type="text/javascript"
      src="../plugins/jquery-knob/excanvas.js"
    ></script>
  <![endif]-->
  <script src="plugins/jquery-knob/jquery.knob.js"></script>

  <!-- Dashboard Init -->
  <script src="assets/pages/jquery.dashboard.init.js"></script>

  <!-- Weather Widget -->
  <script src="assets/js/weatherWidget.js"></script>

  <!-- App js -->
  <script src="assets/js/jquery.core.js"></script>
  <script src="assets/js/jquery.app.js"></script>
</body>

</html>