<!-- Begin page -->
<div class="accountbg"
    style="background: url('assets/images/auth-bg.jpg');background-size: cover;background-position: center; width: 830px;"></div>
<div class="wrapper-page account-page-full">
    <div class="card">
        <div class="card-block">
            <div class="account-box">
                <div class="card-box p-5">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="index.html" class="text-success">
                            <span><img src="assets/images/logo.png" alt="" height="26"></span>
                        </a>
                    </h2>

                    <form class="form" action="/login" method="POST">
                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <label for="email">Email address <span class="text-danger">*</span></label>
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <a href="/recoverPassword" class="text-muted float-right"><small>Forgot your
                                        password?</small></a>
                                <label for="password">Password <span class="text-danger">*</span></label>
                                <input class="form-control" type="password" name="password" placeholder="Password"
                                    required>
                            </div>
                        </div>



                        <div class="form-group row m-b-20">
                            <div class="col-12">

                                <div class="checkbox checkbox-custom">
                                    <input id="remember" type="checkbox">
                                    <label for="remember">
                                        Remember me
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign
                                    In</button>
                            </div>
                        </div>

                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Or Sign In Using </p>
                            </div>
                        </div>

                        <div class="button-list text-center">
                            <a href="#" class="btn btn-facebook waves-effect waves-light">
                                <i class="fa fa-facebook m-r-5"></i> Facebook
                            </a>

                            <a href="#" class="btn btn-twitter waves-effect waves-light">
                                <i class="fa fa-twitter m-r-5"></i> Twitter
                            </a>

                            <a href="/auth/google" class="btn btn-googleplus waves-effect waves-light ">
                                <i class="fa fa-google-plus m-r-5"></i> Google+
                            </a>

                            <a href="/auth/github" class="btn btn-github waves-effect waves-light ">
                                <i class="fa fa-github m-r-5"></i> Github
                            </a>
                        </div>
                    </form>

                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Don't have an account? <a href="/register"
                                    class="text-dark m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>