{{> _sidebar}}
{{> _header}}


<!-- Start Page content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-primary">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p> A programming language is for thinking about programs, not for expressing programs you've already thought of. It should be a pencil, not a pen.</p>

                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title">Paul Graham</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-success">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday's code.</p>
                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title">Dan Salomon</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-info">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>It´s better to wait for a productive programmer to become available than it is to wait for the first available programmer to become productive</p>
                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title"> Steve McConnell</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-warning">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>Debugging is twice as hard as writing the code in the first place.Therfore, if you write the code as cleverly as possible, you are, by definition, not smart enough to debug it.</p>

                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title">Rajanand</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-danger">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>A good programmer is someone who always looks both ways before crossing a one-way street.</p>
                            <footer class="blockquote-footer text-white font-13"> <cite
                                    title="Source Title"> Doug Linder</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-purple">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>As a programmer, it is your job to put yourself out of business. What you do today can be automated tomorrow.</p>
                            <footer class="blockquote-footer text-white font-13"> <cite
                                    title="Source Title">Doug McIlroy</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-pink">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p> You are not responsible for the programming you picked up in childhood.However, as an adult, you are the one hundred percent responsible for fixing it</p>
                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title">Unknown</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-custom">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>We build our computer (systems) the way we build our cities: over time, without a plan, on top of ruins.</p>
                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title">Ellen Ullman</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card m-b-30 text-white bg-success">
                    <div class="card-body">
                        <blockquote class="card-bodyquote">
                            <p>Rules of Optimization: Rule 1: Don't do it. Rule 2 (for experts only): Don't do it yet. </p>
                            <footer class="blockquote-footer text-white font-13"><cite
                                    title="Source Title">Michael A. Jackson</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

{{> _footer}}